body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /*background: url("../img/Lunarina-goddess-swan-watercolor.jpg") no-repeat top;*/
    /*background-origin: content-box;*/
}

.social-link {
    width: 18px;
    height: 18px;
    background-color: #FFD1CF ;
    margin-right: 5px;
}

.link {
    font-size: .4rem;
}

.link:nth-child(2) {
    padding: 8px 6px;
}

.imgs {
    margin-right: 0;
}

.bg-img {
    width: 100%;
    position: absolute;
}